
$backgroundBack: rgb(38,41,44);
$backgroundFront: rgb(200,200,200);
$text: rgb(244,244,244);

$red: #F23C6F;
$yellow: #EFFCA2;
$green: rgb(97,199,145);

body {
	background-color: $backgroundBack;
	// text
	color:$text;
	font-size:22pt;
	font-family: Helvetica Neue, sans;
}

#contentContainer {
	position: fixed;
	left:0;
	top:0;
	width:100%;
	// top+bottom margin 
	margin:20vh 0 33vh 0;
	padding:5vh 0 5vh 0;
	background-color:$backgroundFront;
}

#content, #header {
	margin: 0 auto;
}

#content {
	max-width:400px;
}

#header {
	width:80%;
	max-width:700px;
	min-width:400px;
	height:40px;
}

//
// header
//
#header {

	font-size: 8pt;

	#clock, #userId, #postCounter {
		float:right;
		display:block;
		padding-left:15px;
	}

}

//
// status container
//
#statusContainer {

	font-style:italic;
	font-size:10pt;

	#statusCircle {

		@mixin spinner {
			background-image: url("assets/spinner.gif");
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: 100px 100px;
		}

		// circle
		width:200px;
		height:200px;	
		border-radius: 50%;
		margin: 10px 0 30px 50px;

		&.notPaired {
			background:$red;
		}

		&.pairing {
			background:$red;
			@include spinner;
		}

		&.paired {
			background:$green;
		}

		&.poorSignalQuality {
			background:$yellow;
			@include spinner;
		}


	}
}
